<h1><%= @user.username %></h1>

<dl>
  <dt>Private</dt>
    <dd><%= @user.private %></dd>

  <dt>Followers</dt>
    <dd><%= @user.followers.count %></dd>
  <dt>Following</dt>
    <dd><%= @user.following.count %></dd>

  <ul>
    <li><a href="/users/<%= @user.username %>">Profile</a></li>
    <li><a href="/users/<%= @user.username %>/liked_photos">Liked photos</a></li>
    <li><a href="/users/<%= @user.username %>/feed">Feed</a></li>
    <li><a href="/users/<%= @user.username %>/discover">Discover</a></li>
  </ul>
</dl>

<h2>Own photos (<%= @user.own_photos.count %>)</h2>

<table border="1">
<tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>
    <th>
      Likes
    </th>

    <th>
    </th>
  </tr>
   
    <% @user.own_photos.each do |zebra| %>
      <tr>
        <td>
          <img src="<%= zebra.image %>">
        </td>

        <td>
          <%= zebra.poster.username %>
        </td>

        <td>
          <%= zebra.caption %>
        </td>

        <td>
          <%= time_ago_in_words(zebra.created_at) %> ago
        </td>

        <td>
          <%= zebra.likes_count %>
        </td>

        <td>
          <a href="/photos/<%= zebra.id %>">
              Show details
          </a>
        </td>

      </tr>

    <% end %>
</table> 
