<h1><%= @user.username %></h1>

<dl>
  <dt>Private</dt>
    <dd><%= @user.private %></dd>

  <dt>Followers</dt>
    <dd><%= @user.followers.count %></dd>
  <dt>Following</dt>
    <dd><%= @user.following.count %></dd>

  <ul>
    <li><a href="/users/<%= @user.username %>">Profile</a></li>
    <li><a href="/users/<%= @user.username %>/liked_photos">Liked photos</a></li>
    <li><a href="/users/<%= @user.username %>/feed">Feed</a></li>
    <li><a href="/users/<%= @user.username %>/discover">Discover</a></li>
  </ul>
</dl>

<h2>Liked photos (<%= @user.likes_count %>)</h2>

<table border="1">
<tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>
    <th>
      Likes
    </th>

    <th></th>
  </tr>

<% @user.liked_photos.each do |apple| %>
  <tr>
    <td>
      <img src="<% apple.image %>">
    </td>

    <td>
      <% apple.poster.username %>
    </td>
   
    <td>
      <% apple.caption %>
    </td>
   
    <td>
      <% apple.created_at %>
    </td>
   
    <td>
      <% apple.likes_count %>
    </td>
   
    <td>
      <a href="/users<% apple.id %>">
        Show details
      </a>
    </td>
  <% end %>
   

  </tr>

</table> 
